<% param_prefix = "payment_source[#{payment_method.id}]" %>

<div class="legend">
  <%= image_tag "ideal_logo.gif", :id => 'ideal' %>&nbsp;iDeal
</div>
<div id="banklist" class="clearfix">
<%for bank in payment_method.banklist %>
  <p class="field">
    <%=radio_button_tag "#{param_prefix}[bank_id]", bank.bank_id%>
    <%=label_tag "#{param_prefix}[bank_id]", bank.bank_name%>
  </p>
<%end%>
</div>