<% param_prefix = "payment_source[#{payment_method.id}]" %>

<div class="legend">
  <%= image_tag "ideal_logo.gif", :id => 'ideal' %>&nbsp;iDeal
</div>

<%for bank in payment_method.banklist %>
  <%=radio_button_tag "#{param_prefix}[bank_id]", bank.bank_id%> <%=bank.bank_name%>
<%end%>
